<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
<a href="/create-blog">Create new blog</a>
<h1>Blogs</h1>
<form>
    Search by name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table border="1">
    <tr>
        <th>YourName</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.yourName}"></td>
            <td th:text="${blog.yourContent}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
<span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
<a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</body>
</html>